#main_wrapper {
    margin: auto;
    width: 60%;
    cursor: pointer;
}

#size_warning {
    display: none;
}


/** Hide display and show warning on screens smaller than 1000 pixels **/
@media (max-width: 1000px) {
    #main_wrapper {
        display: none !important;
    }
    #size_warning {
        display: block;
    }
}